@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f5f9;
}

.card {
  width: 25rem;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 0.5rem;
}

.card-header {
  border-bottom: 1px solid #f6f6f6;
  padding: 1rem 1.2rem;
  background-color: #1364ff;
}

.title {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  margin: 0;
}

.card-body {
  padding: 1rem 1.2rem;
}

.input-container {
  border-radius: 10px;
  border: 1px solid #b8bac5;
  overflow: hidden;
}

.input {
  width: 20rem;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  outline: none;
  border: none;
  padding: 0.8rem 0.4rem;
  background-color: transparent;
}

.input::placeholder {
  color: #b8bac5;
}

.input-box {
  display: flex;
  align-items: center;
  padding: 0.2rem 1rem;
  position: relative;
}

.toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.toggle-btn svg {
  display: block;
}

.progress-bg {
  width: 100%;
  height: 0.25rem;
  background-color: #fbfbfb;
  border-radius: 0 0 0.2rem 0.2rem;
  position: relative;
}

.progress {
  width: 0%;
  height: 0.25rem;
  position: absolute;
  border-radius: 0 0 0.2rem 0.2rem;
  transition: all 0.5s ease-out;
}

.message {
  font-size: 0.7rem;
  font-weight: 500;
  margin-top: 0.8rem;
  letter-spacing: 0.05rem;
  color: #ff6837;
}
